body {
	background-color: rgb(170, 170, 23);
}

.container {
	border: rgb(255, 0, 0) solid;
	width: 1250px;
	height: 700px;
	background-color: rgb(31, 114, 146);
	color: rgb(255, 255, 255);
	margin-left: 40px;
	margin-top: 30px;
}

.header {
	border: rgb(255, 0, 0) solid;
	height: 102px;
}

.header_name {
	width: 175px;
}

#shop_content {
	float: left;
	width: 812px;
	border: red solid;
	height: 321px;
}

.new_shop {
	border: black solid;
	box-shadow: 2px 2px 50px 20px green;
	float: left;
	margin-left: 41px;
	margin-top: 25px;
	width: 350px;
}

.new_shop ul {
	/* padding: 0px;
	margin: 0px; */
}

.new_shop ul li {
	margin-top: 20px;
}

.new_shop ul li label {
	display: none;
}

.new_shop ul li input{
	width: 260px;
	height: 30px;
	padding: 4px;
	font-size: 13px;
	border: 1px solid #808080;
}