body {
	height: auto;
	/* width: 100%; */
	background: #2f2f2f;
}

.container {
	position: relative;
}

.content {
	height: 250px;
	margin: 0px auto;
	width: 810px;
	padding: 0 20px 0 20px;
}

.shop_logo {
	width: 250px;
	height: 95px;
	float: left;
	margin-top: 260px;
	color: white;
	font-family: cursive;
	font-size: 36px;
}

.shop_login {
	background-color: darkcyan;
	padding: 20px 60px 40px 0px;
	width: 330px;
	border: 6px solid white;
	float: left;
	
	margin-top: 200px;
}

.shop_login form ul {
	list-style: none;
}

.shop_login form ul li {
	margin: 8px;
}

.shop_login form ul li input {
	height: 42px;
	width: 298px;
	font-family: cursive;
	font-size: 15px;
}

#alert_msg {
	color: rgb(190, 35, 35);
	padding-left: 74px;
}
